<div>
    <div ng-repeat="node in list" ng-hide="node.parent.collapsed" ng-class="{bold: (node == currentNode)}">
        <span ng-repeat="space in node.spaces" ng-style="style.space" ng-bind-html="space.separator"></span>
        <span ng-click="toggle(node, !node.collapsed)">
            <span ng-show="node.collapsed" class="glyphicon glyphicon-{{node.item.gridIcon_collapsed || node.item.gridIcon || options.collapsedNodeIcon || 'folder-close'}}"></span>
            <span ng-show="!node.collapsed" class="glyphicon glyphicon-{{node.item.gridIcon_uncollapsed || node.item.gridIcon || options.uncollapsedNodeIcon || 'folder-open'}}"></span>
            {{node["label"]}}
        </span>
    </div>
</div>